target
*.iml
*.ipr
*.iws
*.idea
*.idea_modules
*.classpath
*.project
*.settings
.DS_Store
*metastore_db
*derby.log
.cookies.jira
graph.json
*logs
*project/project
*target
*tmp
*.history
*dist
*out
*RUNNING_PID
*.obj
